hub:
  image: selenium/hub:4.15.0
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1
      memory: 2Gi
chrome:
  image: selenium/node-chrome:4.15.0
  replicas: 2
  resources:
    requests:
      cpu: 1000m
      memory: 2Gi
    limits:
      cpu: 2000m
      memory: 4Gi
  maxSessions: 3
  devShmSize: 2Gi
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 8
    cpu: 70
    memory: 80
