apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: scrapeme-artifacts
  namespace: scrapeme
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
