# Dev environment values
scrapeme-app:
  replicaCount: 1
  image:
    tag: dev
  autoscaling:
    minReplicas: 1
    maxReplicas: 3
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 1Gi
  artifactsPVC:
    storageClassName: ""
  resultsPVC:
    storageClassName: ""
selenium-grid:
  chrome:
    replicas: 1
    hpa:
      minReplicas: 1
      maxReplicas: 2
observability:
  prometheus:
    retention: 3d
