sites:
  - name: "quotes_to_scrape"
    base_url: "http://quotes.toscrape.com"
    steps:
      - name: "extract_quotes"
        goto_url: "/"
        wait_xpath: "//div[@class='quote']"
        fields:
          - name: "quote_text"
            xpath: "//div[@class='quote']/span[@class='text']"
          - name: "author"
            xpath: "//div[@class='quote']/small[@class='author']"
          - name: "tags"
            xpath: "//div[@class='quote']/div[@class='tags']/a[@class='tag']"
    wait_timeout_sec: 10
    page_load_timeout_sec: 30
    capture_enabled: true
