apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 30s
      evaluation_interval: 30s
    
    scrape_configs:
      - job_name: 'scrapeme-dev'
        static_configs:
          - targets: ['scrapeme-app:9090']
        scrape_interval: 15s
      
      - job_name: 'selenium-hub-dev'
        static_configs:
          - targets: ['selenium-hub:4444']
        metrics_path: /status
        scrape_interval: 60s
